<?xml version="1.0" encoding="UTF-8"?>
<plugin 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" 
  id="cordova-plugin-rebase-notification" 
  version="0.1.5">
  <license>MIT</license>
  <name>RebaseNotifications</name>
  <author>Muryllo Pimenta de Oliveira</author>
  <description>Creates and schedule local notifications</description>
  <keywords>notification, local notification, user notification</keywords>
  <js-module name="RebaseNotifications" src="www/RebaseNotifications.js">
    <clobbers target="window.RebaseNotifications" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="RebaseNotifications">
        <param name="android-package" value="com.rebase.local.notifications.RebaseNotifications" />
      </feature>
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      <receiver android:name="com.rebase.local.notifications.RebaseReceiver" />
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.VIBRATE" />
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/RebaseNotifications.java" target-dir="src/org/apache/cordova/rebase-notification" />
    <source-file src="src/android/RebaseReceiver.java" target-dir="src/org/apache/cordova/rebase-notification" />
    <source-file src="src/android/RebaseHelper.java" target-dir="src/org/apache/cordova/rebase-notification" />
  </platform>
</plugin>